@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(36, 36, 36);
    background: linear-gradient(0deg, rgba(36, 36, 36, 1) 0%, rgba(21, 21, 21, 1) 60%);
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}


/******************** PAGE ELEMENT ********************/

.element .movie {
    display: flex;
}

.element .movie img {
    width: 300px;
    height: auto;
    margin-right: 80px;
}

.element .movie .description {
    width: 600px;
    font-weight: 200;
    font-size: 14px;
}

.element .movie .date {
    font-weight: 200;
    font-size: 14px;
}

.element .acteur {
    padding: 0 60px;
    margin: 100px 0;
}

.element .acteur article {
    display: flex;
}

.element .acteur article nav {
    margin: 0 20px;
}

.element .acteur nav div:first-child {
    width: 90px;
    height: 90px;
    background-position: top;
    background-size: 100%;
    border-radius: 10px;
}

.element .avis {
    background: rgb(180, 72, 64);
    background: linear-gradient(180deg, rgba(180, 72, 64, 1) 0%, rgba(21, 21, 21, 0) 100%);
    padding: 40px 60px;
}

.element .avis div {
    font-size: 12px;
}

.element #similaire {
    padding: 0 6%;
}

.element section .articles {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.element section .articles article {
    width: 250px;
    background-color: #000000;
    border-radius: 16px;
    overflow: hidden;
}

.element section .articles article img {
    width: 100%;
    height: 300px;
}

.element section .articles article div:last-child {
    padding: 6px 20px;
}