@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(36, 36, 36);
    background: linear-gradient(0deg, rgba(36, 36, 36, 1) 0%, rgba(21, 21, 21, 1) 60%);
    color: white;
}


/* ///////////////////////////////////////////////////////////////////////////////////// */


/* ////////////////////////////////////////////////////////////////////////////////////////  PROFIL.PHP */


/* ///////////////////////////////////////////////////////////////////////////////////// */

.titre-profil {
    display: flex;
    justify-content: space-around;
    margin-top: 125px;
}

.mes-info,
.ma-liste {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
}

.case-profil {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.info {
    width: 681px;
    height: 416px;
    left: 108px;
    top: 368px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 16px;
}

.espace {
    display: flex;
    padding-left: 60px;
    margin-top: 50px;
}

.nom-prenom-email {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
}

.information {
    padding-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
}

.form-button {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.button-info,
.button-liste {
    width: 306px;
    height: 47px;
    border: 1px solid black;
    background: rgba(229, 9, 20, 0.9);
    border-radius: 7px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: white;
}

.button-liste {
    margin-top: 10px;
}

.liste {
    width: 404px;
    height: 416px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 16px;
}

.image-position {
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
}

.mini-liste {
    margin-top: 70px;
    width: 306px;
    height: 232px;
}


/* ///////////////////////////////////////////////////////////////////////////////////// */


/* ////////////////////////////////////////////////////////////////////////////////////////  PROFIL.PHP */


/* ///////////////////////////////////////////////////////////////////////////////////// */

.titre-connexion {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
}

.section-connexion {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cadre-connexion {
    width: 529px;
    height: 542px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 16px;
}

.cadre-connexion1 {
    width: 529px;
    height: 362px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 16px;
}

.form-connexion {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.ipt {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.input-inscription {
    margin-top: 35px;
    width: 291px;
    height: 55px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.input-inscription::placeholder {
    text-align: center;
}

.input-valider {
    margin-left: 60px;
    margin-top: 50px;
    width: 170px;
    height: 36px;
    background: rgba(229, 9, 20, 0.9);
    border: 1px solid black;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.bas-cadre {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.mdp-oublier {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}